/* src/styles/Chat.module.css */
.chatContainer {
    margin-top: 30px;
  }
.bdShortlistColumn{
  width: 20%
}
.bdChatBoxColumn{
  width: 80%;
}
  
.btnClearHistory{
  background-color: #409266 !important;
  color: #fff !important;
  font-weight: 400 !important;
  font-size: 1.1em;
}
  .chatBox {
    border: 1px solid #ddd;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    background-color: #f9f9f9;
  }
  
  .messages {
    margin-bottom: 15px;
  }
  
  input {
    width: 80%;
    padding: 10px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px;
    cursor: pointer;
  }
  .shortlistedBox{
    background: #EFF3EA;
    height: calc(100vh - 89px);
    padding: 20px 15px;
  }
  .shortlistedHeading{
    font-size: 1.4em;
  }
  .chatbotContainer{
    height: calc(100vh - 89px);
    width: 85%;
    margin: auto;
  }
  .chatInputBox{
    width: 60% !important;
    position: absolute !important;
    right: 50%;
    bottom: 5.6%;
    transform: translateX(50%);
  }
  .chatInputBox textarea{
    padding: 10px 45px 10px 15px;
    border-color: #9a9a9a !important;
    outline: none !important;
    font-family: figtree, sans-serif;
    font-size: 1.05em;
    border-radius: 10px !important;
    max-height: 140px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
  }
  .chatInputBox textarea::-webkit-scrollbar {
    width: 6px;
  }
  .chatInputBox textarea::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  .chatInputBox textarea::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  .chatInputBox textarea::-webkit-scrollbar-thumb:hover {
    background: #555; /* Change color when hovering over the thumb */
  }

  .chatInputBox button{
    background: none;
    border: none;
    font-size: 1.3em;
    position: absolute;
    right: 15px;
    bottom: -3px;
    z-index: 30;
  }
  .chatresponseContainer {
    max-height: 75vh;
    overflow-y: auto;
    padding: 10px;
    white-space: pre-line;
  }
  .chatresponseContainer::-webkit-scrollbar {
    display: none;
  }
  .responseBox{
    text-align: left;
    background-color: #f3f3f3;
    padding: 14px 10px;
    margin-bottom: 5px;
    border-radius: 15px;
    max-width: 50%;
    width:max-content;
  }
  
  .userMessage {
    margin-left: auto;
    background: var(--main-color);
    color: #fff;
  }
  
  .botMessage {
    margin-right: auto;
  }

  /* Start Button */
.startButton {
  background-color: var(--main-color);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #fff;
}

/* Copy Button */
.copyButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}


/* Floating text message */
.floatingText {
  position: fixed;
  bottom: 110px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--main-transparent-color);
  color: white;
  padding: 10px;
  border-radius: 5px !important;
  font-size: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

/* Add a fade-out effect */
.floatingText.fade-out {
  opacity: 0;
}
.shortlistNameContainer{
  height: calc(100% - 100px);
  margin-bottom: 20px;

}
.modalDialog{
  height: 100%;
  display: flex;
  align-items: center;
}
.modalFooter{
  border: none !important;
}
.clearBtn{
  background-color: var(--main-color) !important;
  color: #fff !important;
}
.modalText{
  font-family: 'Figtree', sans-serif;
  font-size: 1.1em;
  font-weight: 500;
}

@media(max-width: 1380px){
  .chatresponseContainer{
    max-height: 70vh
  }
}
@media(max-width: 1345px){
  .bdShortlistColumn{
    width: 23%
  }
  .bdChatBoxColumn{
    width: 77%;
  }
}
@media(max-width: 1130px){
  .bdShortlistColumn{
    width: 25%
  }
  .bdChatBoxColumn{
    width: 75%;
  }
}
@media(max-width: 992px){
  .bdShortlistColumn{
    display: none;
  }
  .bdChatBoxColumn{
    width: 100%;
  }
}
@media(max-width: 600px){
  .chatbotContainer{
    width: 100%;
    padding: 0px 15px;
  }
  .chatInputBox{
    width: 80% !important;
  }
}