/* src/styles/index.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    width: 100vw;
    overflow-x: hidden;
  }
:root{
  --main-color: #409266;
  --main-transparent-color: #409266cc;
}